<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>insert_school.html</h1>

        <form method="POST">
            {%  csrf_token %}

            <label  for="scn">SCName</label>
            <input type="text" name="scn" id="scn"><br>

            <label for="scp">SCPrincipal</label>
            <input type="text" name="scp" id="scp"><br>
            
            <label for="scl">SCLocation</label>
            <input type="text" name="scl" id="scl"><br>

            <input type="submit" value="insert_school">














        </form>
    </center>
</body>
</html>